<!DOCTYPE html>
<html>
<style>

body {
    padding: 0px 20px;
}

.center {
    display: flex;
    align-items: left;
    justify-content: center;
}


h1 {
    text-align: center;
    font-family: Noto Sans;
    font-size: 120px;
    font-weight: bold;
    margin: 80px 0px 60px 0px;
}

h2 {
    text-align: center;
    font-family: Noto Sans;
    font-size: 60px;
    margin: 0px 40px 0px 0px;
    font-weight: 600;
}

.no_deco {
    text-decoration: none;
    color: #000;
}

input.home {
    width: 400px;
    height: 120px;
    margin: 10px 0px 30px 0px;
    text-align: center;
    font-size: 60px;
    border: 2px solid black;
}

table {
    table-layout: fixed;
    width: 100%;
    margin: 30px 0px;
    border-collapse: collapse;
    font-family: Noto Sans;
    text-align: left;
    line-height: 90px;
}

th {
    font-size: 50px;
    padding: 10px 40px;
    color: #fff;
    background: #ce4869;
}

td {
    font-size: 50px;
    padding: 10px 40px;
    border-bottom: 1px solid #ccc;
    background: #eee;
}

.category {
    width: 20%;
}

.id_range {
    width: 40%;
}

.title {
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.call {
    width: 30%;
}

.largerCheckbox {
    width: 40px;
    height: 40px;
}

.checkout {
    background:#ffffff;
}

.smallTitle {
    font-size: 40px;
}

</style>
</html>
